h1{
    color: brown;
}
.square{
 width: 100px;
 height: 100px;
 background-color: red;
 display: flex;
 justify-content: center;
 align-items: center;
}
.square1{
 width: 100px;
 height: 100px;
 background-color: yellow;
 position: relative;
 left: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.square2{
 width: 100px;
 height: 100px;
 background-color: blue;
 margin-left: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
}


